.gallery{
    background-color: #f0d0c1;
   
    padding: 20px;
    margin-top: 70px;
}

.image {
    
    transition: transform .5s;
   
  }
.image:hover {
    -ms-transform: scale(0.7); /* IE 9 */
    -webkit-transform: scale(0.8); /* Safari 3-8 */
    transform: scale(1.09); 
  }