.dashboardTitle{
    background-color: lightgray;
    text-align: center;
}
.DashItem  {
    border-right: 3px solid  gray;
    /* padding: 10px; */
    
}
.DashItem a{
    text-decoration: none; 
}
 